.tasks-container {
  width: 100%;
  height: auto;
  max-width: 720px;
  min-width: 200px;
  margin: 3rem auto;
  border-radius: 2px;
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px #0003, 0 25px 50px #0000001a;
}

.tasks-header {
  display: flex;
  padding: 0.7rem 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px 3px 0 0;
  font-size: 16px;
  margin-bottom: 0.2rem;
}

.tasks-header > div {
  display: flex;
  gap: 0.5rem;
}
