.form-container {
  margin-top: 8rem;
}

.form-form {
  padding: 0;
  min-width: 280px;
  max-width: 464px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input {
  color: #000;
  width: 100%;
  min-width: 180px;
  max-width: 400px;
  padding: 0 0.5rem;
  height: 45px;
  background-color: #f1f1f1;
  border-radius: 3px 0 0 3px;
  border: none;
  font-size: 20px;
}

.form-add-button {
  border-radius: 0 3px 3px 0;
  height: 45px;
}
