.app {
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  --dark-bg-color: rgb(33, 46, 54);
  --dark-first-color: #2088d2;
  --dark-second-color: #192229;
  --light-bg-color: #f6f6f6;
  --light-first-color: #d90062;
  --light-second-color: #14192d;
  --gray-light-color: #e0e0e0;
  --light-box-shadow: 0 2px 4px #0003, 0 25px 50px #0000001a;
  --dark-box-shadow: 0 2px 4px #0000007a, 0 25px 50px #0000007a;
}

.no-todos {
  margin-top: 4rem;
}

/***** Dark Theme*****/

.dark {
  background-color: var(--dark-bg-color);
  color: var(--dark-first-color);
}

.dark .avatar {
  border: 1px solid var(--dark-first-color);
  background-color: var(--dark-second-color);
}

.dark button.action-btn {
  border: none;
  background-color: var(--dark-second-color);
  color: var(--dark-first-color);
}

.dark .header {
  background-color: var(--dark-second-color);
}

.dark .tasks-container {
  box-shadow: var(--dark-box-shadow);
}

.dark .form-form {
  box-shadow: 0 2px 4px #0000007a, 0 10px 20px #0000007a;
}

.dark .form-input:focus {
  outline: none;
  border: 1.5px solid var(--dark-first-color);
  border-right: none;
}

/***** Light Theme*****/

.light {
  background-color: var(--light-bg-color);
  color: var(--light-first-color);
}

.light .avatar {
  border: 1px solid var(--light-first-color);
  background-color: var(--light-second-color);
}

.light button.action-btn {
  border: none;
  background-color: var(--light-second-color);
  color: var(--light-first-color);
}

.light .header {
  background-color: var(--light-second-color);
}

.light .tasks-container {
  box-shadow: var(--light-box-shadow);
}

.light .form-form {
  box-shadow: 0 2px 4px #0003, 0 10px 20px #0000001a;
}

.light .form-input:focus {
  border: 1.5px solid var(--light-first-color);
  border-right: none;
  outline: none;
}
